# 数据预处理作业题

# 1. 求最大值和最小值

#导入pandas和numpy包

In [1]:
import pandas as pd
import numpy as np  #导入numpy包，别名np

(1) 创建表示10×10的随机矩阵的DataFrame对象，行索引和列索引都为1-10，元素取值在0-100；

In [2]:
data = np.random.randint(0,101,(10,10), np.int32)   #创建矩阵作为DF的数据（values）
index = np.arange(1, 11, 1)   #创建行列索引
matrix = pd.DataFrame(data,index,index)  # 创建DataFrame对象
print(matrix)

    1   2   3    4   5   6   7   8    9   10
1   74   6  87  100  66  90  24  88    0  98
2   25  50  76   29  21  83  71  15   53  26
3   83  82   7   93  91  33  67  46   25   1
4   63  20  74   10  69  66  94  63   37  94
5   33  27  25   24  52  62  13  29   86  97
6   80  52  25   59  31  94  47  52   72  68
7   28  63  47   62  16  47  87  63   20  97
8   98  13  33   78  26  35  21  60  100  22
9   23  59  72   45   5  66   4   1   75  73
10  46  38  90   38  57  50  99  79   62  92

(2)求每列的最大值和最小值。

In [3]:
matrix_max = matrix.max(axis=0)  # 求每列最大值
print(matrix_max)
matrix_min = matrix.min(axis=0)  # 求每列最小值
print(matrix_min)

1      98
2      82
3      90
4     100
5      91
6      94
7      99
8      88
9     100
10     98
dtype: int32
1     23
2      6
3      7
4     10
5      5
6     33
7      4
8      1
9      0
10     1
dtype: int32

# 2. 缺失数据的处理

(1) 读取素材文件fish.csv 创建DataFrame数据对象；

In [4]:
fish = pd.read_csv(r'F:\Python\ECUNworks\人工智能B\第四讲数据预处理\fish.csv', encoding="UTF-8")   #注意文件路径名应与你文件所在位置对应  
print(fish)

       品名   最低价    平均价   最高价         规格  单位
0      鲤鱼   4.5   4.65   4.8     >1000g NaN
1      草鱼   4.4   4.45   4.5      <750g NaN
2      鲫鱼   5.0   5.25   5.5  100g-150g NaN
3     胖头鱼   6.5   6.75   7.0     >2000g NaN
4     武昌鱼   7.5   7.55   7.6        NaN NaN
5      鲢鱼   3.0    NaN   NaN     >1500g NaN
6      嘎鱼  12.0  12.50  13.0      <100g NaN
7   国产白鲴鱼   NaN  11.00  12.0    >250g/冻 NaN
8      燕鲅  14.0  14.50  15.0    >300g/冻 NaN
9      鲐鲅   3.5   4.00   4.5    <300g/冻 NaN
10   左偏口鱼   NaN  21.00  22.0    <600g/冻 NaN

(2) 对全部为缺失值的列进行移除；移除效果直接作用于fish对象

In [5]:
fish.dropna(axis=1, how=all, inplace=True)
print(fish)

       品名   最低价    平均价   最高价         规格
0      鲤鱼   4.5   4.65   4.8     >1000g
1      草鱼   4.4   4.45   4.5      <750g
2      鲫鱼   5.0   5.25   5.5  100g-150g
3     胖头鱼   6.5   6.75   7.0     >2000g
4     武昌鱼   7.5   7.55   7.6        NaN
5      鲢鱼   3.0    NaN   NaN     >1500g
6      嘎鱼  12.0  12.50  13.0      <100g
7   国产白鲴鱼   NaN  11.00  12.0    >250g/冻
8      燕鲅  14.0  14.50  15.0    >300g/冻
9      鲐鲅   3.5   4.00   4.5    <300g/冻
10   左偏口鱼   NaN  21.00  22.0    <600g/冻

(3)对包含缺失值的行进行移除；移除效果直接作用于fish对象。

In [6]:
fish.dropna(axis=0,how='any',inplace=True)
print(fish)

    品名   最低价    平均价   最高价         规格
0   鲤鱼   4.5   4.65   4.8     >1000g
1   草鱼   4.4   4.45   4.5      <750g
2   鲫鱼   5.0   5.25   5.5  100g-150g
3  胖头鱼   6.5   6.75   7.0     >2000g
6   嘎鱼  12.0  12.50  13.0      <100g
8   燕鲅  14.0  14.50  15.0    >300g/冻
9   鲐鲅   3.5   4.00   4.5    <300g/冻

# 3. 重复数据的处理

(1) 读取素材文件vegetable.csv 创建DataFrame数据对象；

In [8]:
vegetable = pd.read_csv(r'F:\Python\ECUNworks\人工智能B\第四讲数据预处理\vegetable.csv', encoding='UTF-8') 
print(vegetable)

   品名  最低价   平均价  最高价  斤
0   藕  2.0  2.50  3.0  斤
1  韭菜  1.2  1.40  1.6  斤
2  蒜苗  2.5  3.75  5.0  斤
3  蒜黄  4.0  4.15  4.3  斤
4  韭菜  1.2  1.40  1.6  斤
5  豆王  2.7  3.60  4.5  斤
6  扁豆  2.5  3.25  4.0  斤
7  豇豆  3.0  3.25  3.5  斤
8  蒜黄  4.0  4.15  4.3  斤

(2) 不改变当前对象，以保留重复行中第一次出现的行的方式删除重复行，将结果存储到新的DataFrame数据对象；

In [10]:
vegetable_new1 = vegetable.drop_duplicates(subset = None, keep= 'first', inplace = False)
print(vegetable_new1)

   品名  最低价   平均价  最高价  斤
0   藕  2.0  2.50  3.0  斤
1  韭菜  1.2  1.40  1.6  斤
2  蒜苗  2.5  3.75  5.0  斤
3  蒜黄  4.0  4.15  4.3  斤
5  豆王  2.7  3.60  4.5  斤
6  扁豆  2.5  3.25  4.0  斤
7  豇豆  3.0  3.25  3.5  斤

(3) 不改变当前对象，以保留重复行中最后一次出现的行的方式删除重复行，将结果存储到新的DataFrame数据对象。

In [11]:
vegetable_new2 = vegetable.drop_duplicates(subset = None, keep = 'last', inplace = False)
print(vegetable_new2)

   品名  最低价   平均价  最高价  斤
0   藕  2.0  2.50  3.0  斤
2  蒜苗  2.5  3.75  5.0  斤
4  韭菜  1.2  1.40  1.6  斤
5  豆王  2.7  3.60  4.5  斤
6  扁豆  2.5  3.25  4.0  斤
7  豇豆  3.0  3.25  3.5  斤
8  蒜黄  4.0  4.15  4.3  斤

# 4. 分组统计动物的特征数据

(1) 创建包含多种动物特征数据的DataFrame数据对象，并按动物种类分组；

In [12]:
df = pd.DataFrame({'动物':['游隼', '鹦鹉', '猎豹', '游隼', '猎豹','游隼'], \
'速度':[380,24,120,370,130,368], '重量':[3.5,1,80,3,82,np.nan], \
'状态':['野生',np.nan,'野生','豢养','野生','豢养']}) 
df

   动物   速度    重量   状态
0  游隼  380   3.5   野生
1  鹦鹉   24   1.0  NaN
2  猎豹  120  80.0   野生
3  游隼  370   3.0   豢养
4  猎豹  130  82.0   野生
5  游隼  368   NaN   豢养

In [13]:
#按动物种类分组，并显示
grp=df.groupby(by=['动物'])#
print(grp.groups)

{'游隼': Int64Index([0, 3, 5], dtype='int64'),
 '猎豹': Int64Index([2, 4], dtype='int64'),
 '鹦鹉': Int64Index([1], dtype='int64')}

(2) 统计DataFrame数据对象中每组动物的计数（记录数）

In [14]:
#统计DataFrame数据对象中每组动物的计数（记录数）
print(grp['动物'].value_counts())

动物
游隼    3
猎豹    2
鹦鹉    1
dtype: int64

In [ ]:
# (3)对'重量'列的缺失数据，使用同类动物重量的平均值填充

In [4]:
#计算各类动物重量的平均值
weight_mean=grp['重量'].mean()  #
print(weight_mean)

动物
游隼     3.25
猎豹    81.00
鹦鹉     1.00
Name: 重量, dtype: float64

In [2]:
#找出重量值缺失的动物
mask=df['重量'].isnull()
an=df.loc[mask,['动物']]   #
print(an)

NameError: name 'df' is not defined

In [3]:
#重量的缺失数据用同类动物重量的平均值填充
df.loc[mask,['重量']] = weight_mean[an['动物']]  #
print(df)

NameError: name 'weight_mean' is not defined