# 实验八（面向对象）作业

#### 一、	请创建一个Circle（圆）类，该类有一个属性：半径r；有一个构造方法，可接收外界传入的参数设置到属性r中；另外定义了４个方法，方法area用于计算面积，方法girth用于计算周长，方法setR用于设置半径r，方法getR用于读取半径r。
（π常量可用math.pi。用于测设Circle类的主程序已给出。）

In [3]:
import math
class Circle:
#你的代码




#主程序
r = 5.0;
cc = Circle(r);
print("半径为%.2f的圆的周长是：%.2f，面积是：%.2f\n"%(r,cc.girth(),cc.area()));
cc.setR(8.0);
print("半径为%.2f的圆的周长是：%.2f，面积是：%.2f\n"%(cc.getR(),cc.girth(),cc.area()));

半径为5.00的圆的周长是：31.42，面积是：78.54

半径为8.00的圆的周长是：50.27，面积是：201.06

#### 二、	请定义Employee类和其子类Manager类。Employee类包含三个属性：雇员姓名（name），年龄（age），业绩评等（grade），业绩评等从高到低为A,B,C,D四等。Manager类继承Employee类，并定义了两个新属性：department代表该 Manager所管辖部门（字符串类型），subm代表该Manager管理的所有Employee（列表类型）。主程序已给出。

In [4]:
class Employee:
    #类体
    
    
class Manager(Employee):
    #类体

    
person1 = Employee("张三",35,'A')
person2 = Employee("李四",28,'B')
manager1 = Manager("王五",42,'A',"财务部",[person1,person2])
print("经理姓名为%s，年龄为%d，业绩评等为%s，所管理部门为%s"%(manager1.name,manager1.age,manager1.grade,manager1.department))
print("下属雇员有：",end=" ")
for i in range(len(manager1.subm)):
    print(manager1.subm[i].name,end=",")

经理姓名为王五，年龄为42，业绩评等为A，所管理部门为财务部
下属雇员有： 张三,李四,

#### 三．请完成下列程序中的划线部分，使程序能够输出正确的结果。

In [1]:
import pandas as pd
import numpy as np
title = ["公司","第一季度","第二季度","第三季度","第四季度"]
recs = [["Apple",51.9,57.9,48.7,50.4],["Samsung",69.7,64.6,41.7,51.7], \
["Huawei",31.7,58.6,59.2,47.9], ["Mi",41.7,38.6,58.0,58.9],["OPPO",69.8,31.1,58.7,30.4]]
phone =  pd.DataFrame(recs,index=range(1,6),columns=title)
phone

        公司  第一季度  第二季度  第三季度  第四季度
1    Apple  51.9  57.9  48.7  50.4
2  Samsung  69.7  64.6  41.7  51.7
3   Huawei  31.7  58.6  59.2  47.9
4       Mi  41.7  38.6  58.0  58.9
5     OPPO  69.8  31.1  58.7  30.4

In [2]:
print("DataFrame:\n", _____________)   #输出DataFrame对象
print("Index:\n",___________)   #输出DataFrame对象的index属性
print("Columns:\n",__________)  #输出DataFrame对象的columns属性
print("Values:\n",____________)   #输出DataFrame对象的values属性
print("公司:\n",_____________)  #以面向对象方式输出DataFrame对象的‘公司’列
print("Samsung公司第四季度的手机出货量:\n",_________________)    #输出Samsung公司第四季度的手机出货量

DataFrame:
         公司  第一季度  第二季度  第三季度  第四季度
1    Apple  51.9  57.9  48.7  50.4
2  Samsung  69.7  64.6  41.7  51.7
3   Huawei  31.7  58.6  59.2  47.9
4       Mi  41.7  38.6  58.0  58.9
5     OPPO  69.8  31.1  58.7  30.4
Index:
 RangeIndex(start=1, stop=6, step=1)
Columns:
 Index(['公司', '第一季度', '第二季度', '第三季度', '第四季度'], dtype='object')
Values:
 [['Apple' 51.9 57.9 48.7 50.4]
 ['Samsung' 69.7 64.6 41.7 51.7]
 ['Huawei' 31.7 58.6 59.2 47.9]
 ['Mi' 41.7 38.6 58.0 58.9]
 ['OPPO' 69.8 31.1 58.7 30.4]]
公司:
 1      Apple
2    Samsung
3     Huawei
4         Mi
5       OPPO
Name: 公司, dtype: object
Samsung公司第四季度的手机出货量:
    第四季度
2  51.7

#### 四. 面向对象编程综合题

（1）请定义student类，包含三个属性：stu_no（学号）、math（数学成绩）和chinese（语文成绩）；有对应的getStuNo()、getMath()和getChinese()方法获取对应的属性并返回；有一个构造方法用于从外界接收三个参数并设置到三个属性中；另外还有一个avg_score()方法计算该学生语文、数学两门课的平均分（保留1位小数）并返回。

In [1]:
class student:  #类student
    def __init__(__________________):  #构造方法    ###
        ______________    ###
        ______________    ###
        ______________    ###
    def getStuNo(self):  #方法：返回学号
        return self.stu_no
    def getMath(self):  #方法：返回数学分
        return self.math
    def getChinese(self):  #方法：返回语文分
        return self.chinese
    def avg_score(self):  #方法：返回平均分
        return ______________________       ###

（2）读入文本文件stu_score.txt，该文件存放着某班学生的学号、数学课成绩和语文课成绩。请将文件中的学生信息导入已经定义好的student类的对象的列表。

In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv(r'_____________\stu_score.txt',sep=' ',encoding='UTF-8')  ###
df

             学号  数学成绩  语文成绩
0   10101611101    75    69
1   10101611102    52    45
2   10101611103    81    76
3   10101611104    77    71
4   10101611105    78    73
5   10101611106    76    80
6   10101611107    65    69
7   10101611108    74    50
8   10101611109    80    28
9   10101611110    80    60
10  10101611111    96    90
11  10101611112    67    85
12  10101611113    78    93
13  10101611114    71    61
14  10101611115    91    90
15  10101611116    75    75
16  10101611117    81    71
17  10101611118    77    90
18  10101611119    63    80
19  10101611120    64    96
20  10101611121    66    93
21  10101611122    68    95

In [3]:
stu_list=[]
num=df.shape[0]  #学生人数
L1=np.array(df['学号'].values)
L2=np.array(df['数学成绩'].values)
L3=np.array(df['语文成绩'].values)

#构造student类并加入列表stu_list
###

（3）找出两门课的平均分在90分以上的学生，输出他们的学号和各科成绩。

In [5]:
###

学号：10101611111，数学成绩：96，语文成绩：90
学号：10101611115，数学成绩：91，语文成绩：90